In [1]:
import pandas as pd
from sqlalchemy import create_engine

# Replace these values with your actual database information
hostname = "gator3228.hostgator.com"
username = "rbrennan_sm_rb"
password = "This_is_not_the_password"
database = "rbrennan_stock_project_4"
# Create a database connection
db_url = f"mysql+mysqlconnector://{username}:{password}@{hostname}/{database}"
engine = create_engine(db_url)
# Test the connection
try:
    conn = engine.connect()
    print("Connected to MySQL database")
except Exception as e:
    print("Error:", e)
amazon_data = pd.read_sql("SELECT * FROM Amazon", conn)

amazon_data.head()

Connected to MySQL database

        Date       Open       High        Low      Close     Volume
0 2018-02-20  72.324501  74.438499  72.324501  73.417503  129984000
1 2018-02-21  74.250000  75.174500  73.945999  74.146004  126088000
2 2018-02-22  74.767998  75.126999  73.788002  74.266998   97162000
3 2018-02-23  74.766998  75.000000  74.324997  75.000000   88362000
4 2018-02-26  75.459999  76.141998  75.349998  76.097504   99100000